<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            visible="true">
         <run
               class="org.ddth.dinoage.eclipse.Application">
         </run>
      </application>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="org.ddth.dinoage.eclipse.ui.perferences.PreferenceConnectionPage"
            id="org.ddth.dinoage.preferences.connection"
            name="Connection">
      </page>
      <page
            class="org.ddth.dinoage.eclipse.ui.perferences.PreferenceDataPage"
            id="org.ddth.dinoage.preferences.data"
            name="Data">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="DinoAge Perspective"
            class="org.ddth.dinoage.eclipse.Perspective"
            id="org.ddth.dinoage.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.ddth.dinoage.eclipse.ui.views.WorkspaceView"
            id="org.ddth.dinoage.ui.views.workspace"
            name="Profile List">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.ddth.dinoage.application"
            name="DinoAge">
         <property
               name="appName"
               value="DinoAge">
         </property>
         <property
               name="aboutText"
               value="DinoAge - A Blog Backup &amp; Migration Tool&#x0A;Website: http://dinoage.googlecode.com&#x0A;&#x0A;Author: instcode&#x0A;Contact: instcode@gmail.com&#x0A;Homepage: http://instcode.wordpress.com">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.ddth.dinoage.eclipse.ui.editors.ProfileEditor"
            default="false"
            id="org.ddth.ui.editors.blogview"
            name="BlogView">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <category
            id="org.ddth.dinoage.commands.category"
            name="Action">
      </category>
      <command
            categoryId="org.ddth.dinoage.commands.category"
            id="org.ddth.dinoage.command.workspace.switch"
            name="Switch Workspace...">
      </command>
      <command
            categoryId="org.ddth.dinoage.commands.category"
            id="org.ddth.dinoage.command.export"
            name="Export...">
      </command>
      <command
            categoryId="org.ddth.dinoage.commands.category"
            id="org.ddth.dinoage.command.profile.add"
            name="Add...">
      </command>
      <command
            categoryId="org.ddth.dinoage.commands.category"
            id="org.ddth.dinoage.command.profile.edit"
            name="Edit...">
      </command>
      <command
            categoryId="org.ddth.dinoage.commands.category"
            id="org.ddth.dinoage.command.profile.execute"
            name="Execute">
      </command>
      <command
            categoryId="org.ddth.dinoage.commands.category"
            id="org.ddth.dinoage.command.profile.remove"
            name="Remove">
      </command>
      <command
            id="org.ddth.dinoage.command.profile.open"
            name="Open">
      </command>
      <command
            id="org.ddth.dinoage.command.console.show"
            name="Console">
      </command>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:file?before=quit">
         <command
               commandId="org.ddth.dinoage.command.profile.add"
               icon="icons/add.gif"
               style="push">
         </command>
         <command
               commandId="org.ddth.dinoage.command.workspace.switch"
               icon="icons/switch.gif"
               style="push"
               tooltip="Switch workspace">
         </command>
         <separator
               name="org.ddth.dinoage.ui.menu.separator"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.ddth.dinoage.menus.action"
               label="Options"
               mnemonic="M">
            <command
                  commandId="org.ddth.dinoage.command.export"
                  icon="icons/export.gif"
                  mnemonic="E"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.ddth.dinoage.toolbars.main">
            <command
                  commandId="org.ddth.dinoage.command.export"
                  icon="icons/export.gif"
                  style="push"
                  tooltip="Export">
            </command>
            <command
                  commandId="org.ddth.dinoage.command.workspace.switch"
                  icon="icons/switch.gif"
                  style="push"
                  tooltip="Switch workspace">
            </command>
            <command
                  commandId="org.ddth.dinoage.command.console.show"
                  icon="icons/console_view.gif"
                  style="push"
                  tooltip="Show Console View">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.ddth.dinoage.ui.views.workspace?before=additions">
         <command
               commandId="org.ddth.dinoage.command.profile.add"
               icon="icons/add.gif"
               style="push">
         </command>
         <command
               commandId="org.ddth.dinoage.command.profile.execute"
               icon="icons/execute.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
               <not>
                  <reference
                        definitionId="org.ddth.dinoage.core.profile.running">
                  </reference>
               </not>
               <reference
                     definitionId="org.ddth.ui.views.profile.selected">
               </reference>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.ddth.dinoage.command.profile.execute"
               icon="icons/stop.gif"
               label="Stop"
               style="push"
               tooltip="Stop">
            <visibleWhen checkEnabled="false">
               <and>
               <reference
                     definitionId="org.ddth.dinoage.core.profile.running">
               </reference>
               <reference
                     definitionId="org.ddth.ui.views.profile.selected">
               </reference>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.ddth.dinoage.command.profile.remove"
               icon="icons/remove.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.ddth.dinoage.ui.views.workspace?before=additions">
         <command
               commandId="org.ddth.dinoage.command.profile.open"
               style="push">
         </command>
         <command
               commandId="org.ddth.dinoage.command.profile.edit"
               style="push">
         </command>
         <separator
               name="separator1"
               visible="true">
         </separator>
         <command
               commandId="org.ddth.dinoage.command.profile.execute"
               icon="icons/execute.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <not>
                  <reference
                        definitionId="org.ddth.dinoage.core.profile.running">
                  </reference>
               </not>
            </visibleWhen>
         </command>
         <command
               commandId="org.ddth.dinoage.command.profile.execute"
               icon="icons/stop.gif"
               label="Stop"
               style="push"
               tooltip="Stop">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.ddth.dinoage.core.profile.running">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="separator2"
               visible="true">
         </separator>
         <command
               commandId="org.ddth.dinoage.command.profile.remove"
               icon="icons/remove.gif"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.handlers">
   	   <handler
            class="org.ddth.dinoage.eclipse.ui.handlers.SwitchWorkspaceHandler"
            commandId="org.ddth.dinoage.command.workspace.switch">
      </handler>
      <handler
            class="org.ddth.dinoage.eclipse.ui.handlers.ExportHandler"
            commandId="org.ddth.dinoage.command.export">
         <enabledWhen>
            <reference
                  definitionId="org.ddth.ui.editors.blogview.active">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="org.ddth.dinoage.eclipse.ui.handlers.AddProfileHandler"
            commandId="org.ddth.dinoage.command.profile.add">
      </handler>
      <handler
            class="org.ddth.dinoage.eclipse.ui.handlers.EditProfileHandler"
            commandId="org.ddth.dinoage.command.profile.edit">
         <enabledWhen>
            <reference
                  definitionId="org.ddth.ui.views.profile.selected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="org.ddth.dinoage.eclipse.ui.handlers.OpenProfileHandler"
            commandId="org.ddth.dinoage.command.profile.open">
         <enabledWhen>
            <reference
                  definitionId="org.ddth.ui.views.profile.selected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="org.ddth.dinoage.eclipse.ui.handlers.RemoveProfileHandler"
            commandId="org.ddth.dinoage.command.profile.remove">
         <enabledWhen>
            <and>
               <reference
                     definitionId="org.ddth.ui.views.profile.selected">
               </reference>
               <not>
                  <reference
                        definitionId="org.ddth.dinoage.core.profile.running">
                  </reference>
               </not>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.ddth.dinoage.eclipse.ui.handlers.ExecuteProfileHandler"
            commandId="org.ddth.dinoage.command.profile.execute">
         <enabledWhen>
         <reference
                  definitionId="org.ddth.ui.views.profile.selected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="org.ddth.dinoage.eclipse.ui.handlers.ShowConsoleHandler"
            commandId="org.ddth.dinoage.command.console.show">
      </handler>
   </extension>
   <extension point="org.eclipse.ui.bindings">
      <key
            commandId="org.ddth.dinoage.command.export"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+E">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition id="org.ddth.ui.editors.blogview.active">
         <with variable="activeEditor">
            <instanceof value="org.ddth.dinoage.eclipse.ui.editors.ProfileEditor"/>
         </with>
      </definition>
      <definition id="org.ddth.ui.views.profile.selected">
      <with variable="activeWorkbenchWindow">
            <test
                  args="org.ddth.dinoage.ui.views.workspace, org.ddth.dinoage.eclipse.ui.model.ProfileNode"
                  property="org.ddth.dinoage.viewer.selection">
            </test>
            </with>
      </definition>
      <definition
            id="org.ddth.dinoage.core.profile.running">
         <with
               variable="activeWorkbenchWindow">
            <test
                  args="org.ddth.dinoage.ui.views.workspace, org.ddth.dinoage.eclipse.ui.model.ProfileNode"
                  property="org.ddth.dinoage.viewer.running">
            </test>
         </with>
      </definition>
   </extension>
   
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.ddth.dinoage.eclipse.PreferenceInitializer">
      </initializer>
   </extension>
      <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.ddth.dinoage.eclipse.ui.views.SelectionPropertyTester"
            id="org.ddth.dinoage.viewer.selectionPropertyTester"
            namespace="org.ddth.dinoage.viewer"
            properties="selection"
            type="org.eclipse.ui.IWorkbenchWindow">
      </propertyTester>
      <propertyTester
            class="org.ddth.dinoage.eclipse.ui.views.RunningPropertyTester"
            id="org.ddth.dinoage.viewer.runningPropertyTester"
            namespace="org.ddth.dinoage.viewer"
            properties="running"
            type="org.eclipse.ui.IWorkbenchWindow">
      </propertyTester>
   </extension>
</plugin>
